body {
    display: grid;
    grid-template-columns: 250px 690px;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    grid-row-start: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: brown;
}

.logo-menu-lateral {
    width: 100px;
    margin: 35px 75px 25px 75px;
}

.pagina-principal {
    grid-column-start: 2;
    grid-column-end: 3;
}