@font-face {
    font-family: 'icones';
    src: url(../fonts/icones.ttf)
}

body {
    font-family: 'Quicksand', 'icones', sans-serif;
    
}

/* FLOAT - para posicionar o menu à esquerda e o conteúdo à direita*/
.float-pagina {
    width: 940px;
}

.float-menu {
    float: left;
    width: 250px;
    height: 100vw;
    position: fixed; /* para o menu ficar fixo */
}

.float-conteudo {
    float: right;
    width: 690px;
    background-color: #1d1d1d;
}
/* FLOAT */

/* MENU LATERAL */
.menu-lateral {
    background-color: rgb(66, 8, 8);
    display: flex;
    flex-direction: column;
}

.logo-menu-lateral {
    width: 100px;
    margin: 35px 75px 25px 75px;
}

.item-menu-lateral {
    color: white;
    line-height: 30px;
    font-size: 20px;
    padding-left: 25px;
    margin-bottom: 5px;
    justify-content: center;
}

.item-menu-lateral:hover {
    background-color: white;
    color: rgb(66, 8, 8);
    width: 200px;
    align-self: center;
    border-radius: 4px;
}

.ativo-menu-lateral {
    background-color: rgb(255, 227, 227);
    width: 200px;
    color: #1b0202;
    align-self: center;
    border-radius: 4px;
}

.item-menu-lateral::before {
    content: "\e902";
    padding-right: 16px;
    padding-left: 8px;
}
/* MENU LATERAL */


/* home.html */
/* CONTEUDO PRINCIPAL */

/* CONTEUDO PRINCIPAL - imagem */
.imagem-principal {
    width: 690px;
    height: 350px;
    background-image: url(../img/imagem1.png);
}

.titulo-imagem {
    font-size: 50px;
    font-weight: 700;
    color: white;
    padding-left: 95px;
    padding-top: 35px;
}

.cta-imagem {
    font-size: 25px;
    color: white;
    padding-left: 95px;
    padding-top: 75px;
    padding-bottom: 25px;
}

.botao-cta-imagem {
    font-size: 30px;
    font-weight: 700;
    color: #1b0202;
    background-color: white;
    border-radius: 8px;
    margin-left: 95px;
    padding: 5px;
}
/* CONTEUDO PRINCIPAL - destaques */
.titulo-produtos {
    line-height: 150px;
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* CONTEUDO PRINCIPAL - cartoes */
.cartoes {
    width: 690px;
    background-color: #171717;
}

.cartao {
    margin-bottom: 70px;
    background-color: #c4c4c4;
    border-radius: 8px;
}

.cartao-esquerda {
    float: left;
    width: 210px;
    height: 300px;
    margin-left: 20px;
}

.cartao-centro {
    float: right;
    width: 210px;
    height: 300px;
    margin: 0 10px;
}

.cartao-direita {
    float: right;
    width: 210px;
    height: 300px;
    margin-right: 20px;
}

/* CONTEUDO PRINCIPAL - cartao */
.imagem-destaque {
    border-radius: 8px 8px 0 0;
}

.titulo-cartao {
    line-height: 40px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.preco-cartao {
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
}

.botao-produto {
    width: 140px;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: darkred;
    border-radius: 4px;
    padding: 4px 20px;
}

.botao-produto:hover {
    background-color: rgb(151, 28, 28);
}
/* CONTEUDO PRINCIPAL */


/* FOOTER */
footer {
    width: 690px;
    height: 100px;
    color: #c4c4c4;
    background-color: #1b0202;
    overflow: hidden;
}

.texto-footer {
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
}

.titulo-footer {
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}

.ano-footer {
    font-size: 8px;
    text-align: center;
    margin-top: 5px;
}
/* FOOTER */
/* home.html */


/* sushi.html */
.cartao-sushi {
    width: 210px;
    height: 200px;
    border-radius: 8px;
    background-color: #c4c4c4;
}

.fileira1 {
    margin-top: 35px;
    
}

.sushi-footer {
    margin-top: 35px;
    float: right;
}

.fileira1-cartao-esquerda {
    float: left;
    width: 210px;
    height: 200px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.fileira1-cartao-centro {
    float: right;
    width: 210px;
    height: 200px;
    margin: 0 10px;
    margin-bottom: 30px;
}

.fileira1-cartao-direita {
    float: right;
    width: 210px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.fileira2-cartao-esquerda {
    float: left;
    width: 210px;
    height: 200px;
    margin-left: 20px;
}

.fileira2-cartao-centro {
    float: right;
    width: 210px;
    height: 200px;
    margin: 0 10px;
}

.fileira2-cartao-direita {
    float: right;
    width: 210px;
    height: 200px;
    margin-right: 20px;
}
.imagem-sushi {
    border-radius: 8px 8px 0 0;
}

.titulo-sushi {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
}

.descricao-sushi {
    font-size: 10px;
    text-align: center;
    margin-top: 8px;
}
/* sushi.html */


/* doces.html */
.cartao-doces {
    width: 210px;
    height: 200px;
    border-radius: 8px;
    background-color: #c4c4c4;
}

.fileira1 {
    margin-top: 35px;
    
}

.doces-footer {
    margin-top: 35px;
    float: right;
}

.fileira1-cartao-esquerda {
    float: left;
    width: 210px;
    height: 200px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.fileira1-cartao-centro {
    float: right;
    width: 210px;
    height: 200px;
    margin: 0 10px;
    margin-bottom: 30px;
}

.fileira1-cartao-direita {
    float: right;
    width: 210px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.fileira2-cartao-esquerda {
    float: left;
    width: 210px;
    height: 200px;
    margin-left: 20px;
}

.imagem-doces {
    border-radius: 8px 8px 0 0;
}

.titulo-doces {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
}

.descricao-doces {
    font-size: 10px;
    text-align: center;
    margin-top: 8px;
}
/* doces.html */


/* quemsomos.html */
.titulo-quemsomos {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    color: white;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 30px;
}

.texto-quemsomos {
    width: 590px;
    height: 100px;
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 0 50px;
}

.imagens-quemsomos {
    margin-top: 50px;
}

.imagem1-quemsomos {
    float: left;
    margin-left: 120px;
}

.imagem2-quemsomos {
    float: right;
    margin-right: 120px;
}

.quemsomos-footer {
    margin-top: 50px;
    float: right;
}
/* quemsomos.html */


/* contato.html */
.float-forms {
    float: left;
    width: 345px;
    height: 400px;
}

.titulo-forms {
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    color: white;
    padding-top: 35px;
    padding-bottom: 25px;
 }

 .forms {
     
 }

 .titulo-pergunta {
    color: white;
    padding-bottom: 5px;
    padding-left: 47.5px;
 }

 .pergunta-forms {
    margin-bottom: 10px;
    margin-left: 47.5px;
    border-radius: 4px;
 }

 .obs-forms {
    margin-bottom: 16px;
    width: 250px;
 }

 .botao-forms {
    font-weight: 700;
    color: white;
    background-color: darkred;
    border-radius: 4px;
    padding: 5px 16px;
    margin-left: 47.5px;
 }

 .botao-forms:hover {
     background-color: rgb(151, 28, 28);
 }

.titulo-mapa {
   font-size: 25px;
   line-height: 25px;
   text-align: center;
   color: white;
   padding-top: 35px;
   padding-bottom: 25px;
}

.mapa {
    padding-left: 47.5px;
}

.float-mapa {
    float: right;
    width: 345px;
    height: 400px;
}
/* contato.html */